<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


  <!-- bootstrap -->
  <link href="./css/bootstrap.css" rel="stylesheet" />
  <link href="./css/bootstrap.min.css" rel="stylesheet" />

  <!-- custom file -->

  <link href="./css/customFonts.css" rel="stylesheet" />
  <link href="./css/main.css" rel="stylesheet" />
  <link href="./css/contact.css" rel="stylesheet" />
  <link href="./css/media.css" rel="stylesheet" />



</head>

<body>
  <!-- start header -->
  <header>

  </header>
  <!-- End Header -->

  <!-- contact -->
  <section class="blog-section bg-cover">
    <img src="/images/c1.png" alt="images_not_found" class="position-absolute z-index shape1">
    <img src="/images/c2.png" alt="images_not_found" class="position-absolute z-index shape2">
    <div class="container">
      <div class="row">
        <div class="col-11">
          <h2 class="title text-center font-55">Blog left sidebar</h2>
          <ul class="list d-flex justify-content-center">
            <li class="list-item"><a href="#">Home</a></li>
            <span class="mx-4 font-22" style="color: #fff;">&#xbb;</span>
            <li class="list-item">Blog left sidebar</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- end -->

  <!-- blog -->
  <section class="section-ptb-150">
    <div class="container">
      <div class="row mtn-35">
        <div class="col-lg-12 mt-35">
          <div class="row mtn-35">
            <div class="col-12 col-md-6 col-lg-4 mt-35">
              <div class="blog-card">
                <a href="#" class="blog-image">
                  <img src="/images/1 (2).png" alt="images_not_found" class="img-cover">
                </a>
                <div class="blog-content">
                  <ul>
                    <li class="date font-15"><i class="far fa-calendar-alt"></i>
                      May 21, 2021
                    </li>
                    <li class="font-15">
                      <a class="link">15 Comments</a>
                      <a class="link">Share</a>
                    </li>
                  </ul>
                  <div class="min-height">
                    <h5 class="title mb-3">
                      <a href="#" class="">Guide to Improving Your Google Rankings.</a>
                    </h5>
                    <p class="pb-3 pb-md-5 font-18">
                      Lorem ipsum dolor sit amet, consectet adipi elit, sed doeius tempor incididunt ut labore
                      gthydolore
                      magna aliqua.
                    </p>
                  </div>
                  <a href="#" class="btn btn-warning">read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-35">
              <div class="blog-card"><a href="#" class="blog-image"><img src="/images/2 (2).png"
                    alt="images_not_found"></a>
                <div class="blog-content">
                  <ul>
                    <li class="date font-15"><i class="far fa-calendar-alt"></i>
                      Mar 16, 2021
                    </li>
                    <li class="font-15">
                      <a class="link">21 Comments</a>
                      <a class="link">Share</a></li>
                  </ul>
                  <div class="min-height">
                    <h5 class="title mb-3"><a href="#" class="">What's The Current Job Market For Seo
                        Professionals Like?</a></h5>
                    <p class="pb-3 pb-md-5 font-18">
                      Lorem ipsum dolor sit amet, consectet adipi elit, sed doeius tempor incididunt ut labore
                      gthydolore
                      magna aliqua.
                    </p>
                  </div>
                  <a href="#" class="btn btn-warning">read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-35">
              <div class="blog-card"><a href="#" class="blog-image"><img src="/images/3 (2).png"
                    alt="images_not_found"></a>
                <div class="blog-content">
                  <ul>
                    <li class="date font-15"><i class="far fa-calendar-alt"></i>
                      Apr 08, 2021
                    </li>
                    <li class="font-15">
                      <a class="link">36 Comments</a>
                      <a class="link">Share</a>
                    </li>
                  </ul>
                  <div class="min-height">
                    <h5 class="title mb-3"><a href="#" class="">Addicted To Seo? Us Too. 6 Reasons We Just
                        Can't Stop.</a></h5>
                    <p class="pb-3 pb-md-5 font-18">
                      Lorem ipsum dolor sit amet, consectet adipi elit, sed doeius tempor incididunt ut labore
                      gthydolore
                      magna aliqua.
                    </p>
                  </div>
                  <a href="#" class="btn btn-warning">read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-35">
              <div class="blog-card"><a href="#" class="blog-image"><img src="/images/4 (1).png"
                    alt="images_not_found."></a>
                <div class="blog-content">
                  <ul>
                    <li class="date font-15"><i class="far fa-calendar-alt"></i>
                      Sep 24, 2021
                    </li>
                    <li class="font-15">
                      <a class="link">24 Comments</a>
                      <a class="link">Share</a>
                    </li>
                  </ul>
                  <div class="min-height">
                    <h5 class="title mb-3"><a href="#" class="">Why You Should Spend More Time Thinking About
                        Seo.</a></h5>
                    <p class="pb-3 pb-md-5 font-18">
                      Lorem ipsum dolor sit amet, consectet adipi elit, sed doeius tempor incididunt ut labore
                      gthydolore
                      magna aliqua.
                    </p>
                  </div>
                  <a href="#" class="btn btn-warning">read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-35">
              <div class="blog-card"><a href="#" class="blog-image"><img src="/images/5.png"
                    alt="images_not_found"></a>
                <div class="blog-content">
                  <ul>
                    <li class="date font-15"><i class="far fa-calendar-alt"></i>
                      Jun 25, 2021
                    </li>
                    <li class="font-15">
                      <a class="link">25 Comments</a>
                      <a class="link">Share</a>
                    </li>
                  </ul>
                  <div class="min-height">
                    <h5 class="title mb-3"><a href="#" class="">Why Is SEO Important For Marketing?</a></h5>
                    <p class="pb-3 pb-md-5 font-18">
                      Lorem ipsum dolor sit amet, consectet adipi elit, sed doeius tempor incididunt ut labore
                      gthydolore
                      magna aliqua.
                    </p>
                  </div>
                  <a href="#" class="btn btn-warning">read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-35">
              <div class="blog-card"><a href="#" class="blog-image"><img src="/images/6.png"
                    alt="images_not_found"></a>
                <div class="blog-content">
                  <ul>
                    <li class="date font-15"><i class="far fa-calendar-alt"></i>
                      Feb 16, 2021
                    </li>
                    <li class="font-15">
                      <a class="link">16 Comments</a>
                      <a class="link">Share</a>
                    </li>
                  </ul>
                  <div class="min-height">
                    <h5 class="title mb-3"><a href="#" class="">How Can I Start SEO Marketing SEO
                        Consultancy?</a></h5>
                    <p class="pb-3 pb-md-5 font-18">
                      Lorem ipsum dolor sit amet, consectet adipi elit, sed doeius tempor incididunt ut labore
                      gthydolore
                      magna aliqua.
                    </p>
                  </div>
                  <a href="#" class="btn btn-warning">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-35">
              <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item"><a href="#" class="page-link rotate">&#xbb;</a></li>
                  <li class="page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item active"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">&#xbb;</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end -->
  <!-- footer -->
  <footer class="footer-section position-relative">
    <div>
      <img src="/images/path-shape.png" alt="images_notFound" class="path-shape d-none d-md-flex">
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 126.82 303.68"
      class="path-svg">
      <defs>
        <radialGradient id="radial-gradient" cx="78.77" cy="6322.87" r="43.8"
          gradientTransform="translate(0 -3383.39) scale(1 0.58)" gradientUnits="userSpaceOnUse">
          <stop offset="0.16" stop-color="#2647c8"></stop>
          <stop offset="0.17" stop-color="#294ac9"></stop>
          <stop offset="0.29" stop-color="#6179d7"></stop>
          <stop offset="0.42" stop-color="#92a2e3"></stop>
          <stop offset="0.54" stop-color="#b9c4ed"></stop>
          <stop offset="0.66" stop-color="#d8def5"></stop>
          <stop offset="0.78" stop-color="#edf0fb"></stop>
          <stop offset="0.9" stop-color="#fbfbfe"></stop>
          <stop offset="1" stop-color="#fff"></stop>
        </radialGradient>
        <linearGradient id="linear-gradient" x1="45.02" y1="258.73" x2="112.52" y2="258.73"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#fff"></stop>
          <stop offset="0.27" stop-color="#f4f7fd"></stop>
          <stop offset="0.74" stop-color="#d8e0f8"></stop>
          <stop offset="1" stop-color="#c5d2f4"></stop>
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="43.77" y1="240.52" x2="113.76" y2="240.52"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#c5d2f4"></stop>
          <stop offset="0.26" stop-color="#d8e0f8"></stop>
          <stop offset="0.73" stop-color="#f4f7fd"></stop>
          <stop offset="1" stop-color="#fff"></stop>
        </linearGradient>
      </defs>
      <g class="cls-1">
        <path d="M111.1,297c17.86-10.25,17.86-27,0-37.28s-47-10.25-64.74,0-17.75,27,0,37.28S93.25,307.24,111.1,297Z"
          transform="translate(0 -1)" class="cls-2"></path>
        <path
          d="M102.64,283.06c13.18-7.57,13.18-42.77,0-50.33s-34.69-7.57-47.79,0-13.11,42.76,0,50.33c6.47,3.74,15,7.3,23.57,7.35C87.18,290.45,96,286.89,102.64,283.06Z"
          transform="translate(0 -1)" class="cls-3"></path>
        <path
          d="M113.76,240.86c0-.23,0-.45,0-.68v-5.26h-1.35c-1.59-3.18-4.54-6.18-8.88-8.67-13.67-7.85-36-7.85-49.58,0-4.32,2.49-7.25,5.49-8.83,8.67H43.89v3.9a12.1,12.1,0,0,0,0,3.4v.09h0c.7,4.56,4,9,10.05,12.48,13.6,7.85,35.91,7.85,49.58,0,6-3.47,9.41-7.92,10.11-12.48h.12Z"
          transform="translate(0 -1)" class="cls-4"></path>
        <path
          d="M103.53,249.77c13.68-7.85,13.68-20.69,0-28.54s-36-7.85-49.58,0-13.6,20.69,0,28.54S89.86,257.63,103.53,249.77Z"
          transform="translate(0 -1)" class="cls-5"></path>
        <path
          d="M101.52,248.61c12.56-7.21,12.56-19,0-26.22s-33.06-7.21-45.55,0-12.49,19,0,26.22S89,255.83,101.52,248.61Z"
          transform="translate(0 -1)" class="cls-6"></path>
        <path
          d="M97.39,249.6c10.28-5.91,10.28-15.57,0-21.47s-27.06-5.9-37.28,0-10.23,15.56,0,21.47S87.11,255.5,97.39,249.6Z"
          transform="translate(0 -1)" class="cls-7"></path>
        <path
          d="M80.79,242.55c.16-14.78.32-17.18.48-32,.07-7,.28-11.46-.21-18.41a95.41,95.41,0,0,0-3.73-19.67c-3.91-13.64-7.15-27.08-8.31-41.27a266.63,266.63,0,0,1,.2-41.63C70.4,73.74,72.55,58,74.74,42.19c.22-1.56-2.16-2.23-2.38-.66-3.85,27.69-7.7,55.65-6.22,83.68a180.79,180.79,0,0,0,6.69,40.73c1.91,6.63,4,13.22,5.09,20.05,1.07,7,1,11.67.94,18.75-.17,16.73-.36,21.08-.54,37.81a1.24,1.24,0,0,0,2.47,0Z"
          transform="translate(0 -1)" class="cls-8"></path>
        <path
          d="M68.94,135.59c-5.26-5.31-10.58-10.8-14.13-17.44a28.67,28.67,0,0,1-3.46-11c-.39-4.37.39-8.74.88-13.07A37.33,37.33,0,0,0,47.76,71.3c-4.17-7.87-9.13-15.38-13.95-22.86-.86-1.33-3-.1-2.14,1.25,4.9,7.59,10,15.23,14.16,23.25A35.23,35.23,0,0,1,50,85.53c.43,4.37-.33,8.74-.84,13.07-.89,7.68,0,14.67,3.84,21.47,3.65,6.52,8.93,12,14.15,17.27,1.12,1.14,2.87-.61,1.75-1.75Z"
          transform="translate(0 -1)" class="cls-8"></path>
        <path
          d="M72.51,153.29C74,142.2,86.55,136.48,93.38,129a52.06,52.06,0,0,0,13.21-31.12c.11-1.59-2.36-1.58-2.48,0a49.23,49.23,0,0,1-15.79,32.68c-7.2,6.58-16.9,12.23-18.28,22.78-.21,1.58,2.27,1.56,2.47,0Z"
          transform="translate(0 -1)" class="cls-8"></path>
        <path
          d="M40.5,34.88c-1.13-7-7.14-12.12-12.74-16.53C19.15,11.57,10.33,4.67,0,1A77.52,77.52,0,0,1,8.61,22.43c1.24,5.25,2.11,11,5.84,14.88,5.2,5.42,15,6.31,17.55,13.39l5.43,7.74C36.41,50.53,41.76,42.76,40.5,34.88Z"
          transform="translate(0 -1)" class="cls-8"></path>
        <path
          d="M85.33,14.47c-4,9.36-17.15,12.58-20.31,22.27-3.26,10,6.11,20.72,3.46,30.91L71,68.94c7.28-6.46,11.55-15.8,13.43-25.35S86,24.19,85.33,14.47Z"
          transform="translate(0 -1)" class="cls-8"></path>
        <path
          d="M126.82,52.12C118.59,57.29,112.24,64.9,106,72.38c-1.71,2.05-3.46,4.18-4.19,6.75a19.37,19.37,0,0,0-.38,6.27l1.11,23.2.69,3c3.68-5.89,13.56-6.08,16.07-12.56.91-2.33.56-4.93.33-7.42A75.29,75.29,0,0,1,126.82,52.12Z"
          transform="translate(0 -1)" class="cls-8"></path>
      </g>
    </svg>


    <div class="footer position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title process text-center pb-100">
              <div class="icon"><img src="/images/44.png" alt="Icon_not_found" class="w-50"></div>
              <h3 class="title font-55">Subscribe To Our Newsletter</h3> <span class="hr-secondary"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="container-box pb-100">
              <form class="container-box-form position-relative">
                <input id="email" placeholder="Enter Your Email Address" class="form-control">
                <button class="btn btn-warning font-18">
                  Subscribe Now
                  <span class="mx-2">&#xbb;</span>
                </button></form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="inner-footer">
              <div class="d-flex flex-wrap">
                <div class="col-12 col-md-6 col-lg-3 border-right">
                  <div class="padding-footer">
                    <a href="#" class="footer-logo">
                      <img src="/images/logo-white.png" alt="Logo">
                    </a>
                    <ul class="contact">
                      <li class="font-15">
                        <span class="icon font-20">
                          <i class="fas fa-phone-alt"></i>
                        </span>
                        <a href="#">00123456789</a>
                      </li>
                      <li class="font-15">
                        <span class="icon font-20">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <a href="#">demo@gmail.com</a>
                      </li>
                      <li class="font-15">
                        <span class="icon font-20">
                          <i class="fas fa-map-marker-alt"></i>
                        </span>
                        Chilton, Texas(TX), 12345
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="padding-footer services border-right">
                    <h4 class="title font-22">All Services</h4>
                    <ul class="footer-menu">
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Social Marketing
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>SEO Optimization
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Content Marketing
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Social Marketing
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Web Analytics
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="padding-footer information border-right">
                    <h4 class="title font-22">Information</h4>
                    <ul class="footer-menu">
                      <li class="font-15">
                        <a href="#" class="footer-link"><i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Vision &amp; Values
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Winning Awards
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Leadership
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Sustainability
                        </a>
                      </li>
                      <li class="font-15">
                        <a href="#" class="footer-link">
                          <i class="icofont-rounded-double-right"></i>
                          <span class="margin-right font-22">&#xbb;</span>Careers
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="padding-footer follow-us">
                    <h4 class="title font-15">Follow Us</h4>
                    <p>Lorem ipsum is simply dummy text the printing and typesetting.</p>
                    <ul class="footer-social">
                      <li class="footer-social-item">
                        <a href="#" class="footer-social-link">
                          <i class="icofont-facebook"></i>
                        </a>
                      </li>
                      <li class="footer-social-item">
                        <a href="#" class="footer-social-link">
                          <i class="icofont-twitter"></i>
                        </a>
                      </li>
                      <li class="footer-social-item">
                        <a href="#" class="footer-social-link">
                          <i class="icofont-skype"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p style="color: #fff;" class="text-center title">©<span id="currentYear"></span> Frontend <i class="icofont-heart"></i>
              By <a href="#" class="sub-title">
                Mona Mohammed</a><br/>
              Backend By
              <a href="#" class="sub-title">
                Ahmed Sami</a>
              All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end -->
  <!-- slider -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>